@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

.main {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.pallettes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: inherit;
}

.title {
  text-align: center;
  font-family: inherit;
  font-weight: 300;
  font-size: 2.8rem;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #333;
}

.colorpicker {
  display: flex;
  font-size: 0.8rem;
  color: #333;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
  border-bottom: 1px solid #ddd;
}

.colorpicker input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 3rem;
  width: 25.05rem;
}

.pallette {
  display: flex;
  flex-direction: column;
  padding: 0.05rem;
  font-family: inherit;
}

.palletteTitle {
  text-align: center;
  font-family: inherit;
  font-size: 0.8rem;
  color: #333;
}

.swatch {
  flex: 1 1 auto;
  text-transform: uppercase;
  padding: 0.5rem 4rem;
  text-align: center;
  color: white;
  margin: 0.2rem;
  font-family: courier;
  font-weight: 300;
  cursor: pointer;
}

.swatch a {
  color: white;
  text-decoration: none;
}

.footer {
  text-align: center;
  font-family: inherit;
  font-size: 0.8rem;
  color: rgb(140, 140, 140);
  padding-top: 16px;
}
